h1 {
    text-align: center;
    background-color:#dc9999; /* sand beige */
    margin-top: 10px;
    padding: 20px;
    font-size: 36px;
    color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #fdf4e3; /* light warm beige */
    color: #333;
}

.one {
    text-align: center;
    background-color: #f7e3c8; /* soft beige block */
    padding: 30px;
    margin-top: 20px;
    font-size: 17px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
